.header {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  box-sizing: border-box;
  min-height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #d1d2d6;
  padding: 0 104px;
}

.header__logo {
  min-height: 50px;
  min-width: 304px;
  background-image: url('../../images/header-NewsExplorer.svg');
  background-repeat: no-repeat;
  background-position-y: 30px;
}

.header__navigation {}

.header__nav-button {
  /* box-sizing: border-box; */
  color: #b6bcbf;
  min-height: 100%;
  background-color: transparent;
  border: none;
  padding: 0 15px;
  margin: 0 23px;
  cursor: pointer;
}

.header__nav-button_black {
  color: #000;
  padding: 0 32px;
  margin: 0;
}

.header__nav-button:hover {
  color: #fff;
}

.header__nav-button_black:hover {
  color: #000;
}

.header__nav-button_active-white {
  color: #fff;
  border-bottom: 3px solid #fff;
}

.header__nav-button_active-black {
  color: #000;
  border-bottom: 3px solid #000;
}

.header__exit-button {
  min-height: 48px;
  min-width: 112px;
  text-align: left;
  padding: 0 0 0 19px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 30px;
  background-image: url('../../images/header-icon-Union.svg');
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 77px;
  color: #fff;
  cursor: pointer;
}

.header__exit-button_black {
  border: 1px solid #000;
  background-image: url('../../images/header-icon-logout-black.svg');
  color: #000;
  margin: 0 32px;
}

/* .header__auth-button {
  min-height: 48px;
  min-width: 112px;
  text-align: left;
  padding: 0 0 0 19px;
  border: 1px solid #000;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 77px;
  color: #000;
} */

.header__exit-button:hover {
  color: #b6bcbf;
  border-color: #b6bcbf;
}

.header__exit-button_black:hover {
  color: #000;
  border-color: #000;
}

.header__saved-articles {
  background-color: #fff;
}

.header__saved-articles-logo {
  background-image: url('../../images/header-NewsExplorerblack.svg');
}